.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.logo{
    color: #08D765;
            font-family: "Roboto Mono", monospace;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
    font-weight: bolder;
    font-style: normal;
    margin-left: 20px ;
}

hr{
    width: 680px;
    margin-right: 30px;
}

button{
    background-color: #08D765;
    color: white;
    padding: 10px;
    border: 1px solid #08D765;
    border-radius: 20px;
}

.navContainer {
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
}